#version: "3.8"
#
#services:
#  backend:
#    container_name: uyol-backend
#    build:
#      context: .
#      dockerfile: Dockerfile
#    env_file:
#      - .env
#    environment:
#      - QUARKUS_HTTP_HOST=0.0.0.0
#      - QUARKUS_HTTP_PORT=7000
#      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://uyol-db:5432/uyol_db
#      - QUARKUS_DATASOURCE_USERNAME=postgres
#      - QUARKUS_DATASOURCE_PASSWORD=root
#      - QUARKUS_REDIS_HOSTS=redis://uyol-redis:6379
#    ports:
#      - "7000:7000"
#    networks:
#      - uyol
#    restart: unless-stopped
#    depends_on:
#      datasource:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#
#  datasource:
#    container_name: uyol-db
#    image: postgres:16
#    env_file:
#      - .env
#    volumes:
#      - postgres:/var/lib/postgresql/data
#    ports:
#      - "5432:5432"
#    networks:
#      - uyol
#    restart: unless-stopped
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U postgres"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#  redis:
#    container_name: uyol-redis
#    image: redis:7-alpine
#    ports:
#      - "6380:6379"
#    networks:
#      - uyol
#    restart: unless-stopped
#
#  keycloak:
#    container_name: uyol-keycloak
#    image: quay.io/keycloak/keycloak:26.2
#    env_file:
#      - .env
#    environment:
#      - KEYCLOAK_ADMIN=admin
#      - KEYCLOAK_ADMIN_PASSWORD=admin
#      - KC_HOSTNAME=localhost
#      - KC_HOSTNAME_PORT=7080
#      - KC_HOSTNAME_STRICT_BACKCHANNEL=false
#      - KC_HEALTH_ENABLED=true
#      - KC_LOG_LEVEL=info
#    ports:
#      - "7080:7080"
#    networks:
#      - uyol
#    restart: unless-stopped
#    command: [ "start-dev", "--http-port", "7080", "--https-port", "7443" ]
#
#  mailpit:
#    container_name: uyol-mailpit
#    image: axllent/mailpit
#    ports:
#      - "8025:8025"
#      - "1025:1025"
#    networks:
#      - uyol
#    restart: unless-stopped
#    volumes:
#      - ./data:/data
#
#networks:
#  uyol:
#    driver: bridge
#
#volumes:
#  postgres:


version: "3.8"

services:
  mysql:
    container_name: uyol-mysql
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: uyol
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - uyol

  redis:
    container_name: uyol-redis
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - uyol

  keycloak:
    container_name: uyol-keycloak
    image: quay.io/keycloak/keycloak:26.2
    restart: unless-stopped
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
    command: ["start-dev"]
    ports:
      - "7080:8080"
    networks:
      - uyol

  mailpit:
    container_name: uyol-mailpit
    image: axllent/mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - uyol

networks:
  uyol:
    driver: bridge

volumes:
  mysql:
