name: Deploy via SSH

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH into server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e
            echo "== Connected as =="
            whoami

            echo "== Go to deploy path =="
            cd ${{ secrets.DEPLOY_PATH }}
            pwd
            ls -la

            echo "== Pull latest code =="
            git pull

            echo "== Build & start containers =="
            docker compose up -d --build

            echo "== Status =="
            docker compose ps
